.todoListFilterInput {
  width: 240px;
  height: 35px;
  background-color: #f8f4ff;
  color: #3d236d;
  font-size: 13px;
}

.low input:checked {
  background-color: #066902 !important;
  border-color: #6bffae !important;
  box-shadow: none !important;
}

.medium input:checked {
  background-color: #c9aa1f !important;
  border-color: #fdff6b !important;
  box-shadow: none !important;
}
.medium {
  color: #c9ab28;
}

.high input:checked {
  background-color: #c9251f !important;
  border-color: #ff7c6b !important;

  box-shadow: none !important;
}

.addTaskBtn {
  background-color: #533886;

  border: none;
}

.addTaskBtn:hover {
  background-color: #3d236d;
  border: none;
}
